@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>
<br>

<AuthorizeView>
    <Authorized>
        <a href="#">@context.User.FindFirst("preferred_username")?.Value!</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/OktaSignIn">Sign in with Okta</a>
        &emsp;&emsp;
        <a href="Account/GoogleSignIn">Sign in with Google</a>
        &emsp;&emsp;
        <a href="Account/MicrosoftSignIn">Sign in with Microsoft</a>
    </NotAuthorized>
</AuthorizeView>
